@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap') ;

* {
    margin: 0;
    padding: 0;
}
.hide{
    /* visibility: hidden; */
}
/* Common CSS */
.font-inter{
     font-family : "Inter", sans-serif;
}
.font-noto-serif{
     font-family: "Noto Serif", serif;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
     font-family : "Inter", sans-serif;

}

.nav-left ul {
    display: flex;
    gap: 50px;
    align-items: center;
}

.nav-left ul li {
    list-style: none;
    text-align: center;

}

.nav-left ul li a {
    text-decoration: none;
}
#home a{
     color: #252432;
    font-weight: bold;
    
}
#shop a , #aboutus a{
    color: #8987A1;
}
#cart a{
    color: #000000;
    font-size: 14px;
}
.fresh {
    /* display: block; */
    color: #E95A08;
}
.flowers{
    color: #E95A08;
    display: block;
    width: 250px;
}
.always-span{
    display: block;
}
.banner {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 40px;

}

.banner-content h1 {
    font-size: 65px;
    font-weight: bold;
    text-align: center;

}

.banner-content p {
    width: 536px;
    margin-top: 10px;
    font-size: 22px;
    color:rgb(0, 0, 0, 50%);

}
.our-plants h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
  font-family: "Noto Serif", serif;
  margin-bottom: 15px;
}
.our{
    color:#E95A08 ;
}
.our-plants p{
    font-family : "Inter", sans-serif;
    margin: auto;
    width: 776px;
    text-align: center;
    color: rgb(0, 0, 0 , 50%);
    font-size: 22px;
    margin-bottom: 20px;
}
.flower-name{
    display: block;
     font-family : "Inter", sans-serif;
     font-size: 22px;
     width: 260px;
     text-align: center;
     margin: 15px 0px 12px 0px;
}
.price{
    display: block;
    width: 260px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
     font-family : "Inter", sans-serif;
     margin-bottom: 15px;
}
.primary-btn{
    padding: 15px 88px;
    font-weight: 600;
    color:white;
    background-color:#E95A08;
    border:none ;
    outline:none;
    font-family : "Inter", sans-serif;;
}
.item img{
    display: block;
    
}
.Our-items{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 15px;
}
.plants-lover{
    margin-top: 130px;
    display: flex;
    gap: 112px;
}
.plants-lover-left{
    position:relative;
}
.trusted-badge{
    position:absolute;
    top: -113px;
    right: -108px;
  
}


.plants-lover-left img{
    width: 540px;
    height: 597px;
}
.trusted-badge img{
    display: block;
  height: 286px;
    width: 286px;
/* box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 25%); */

}
.plants-lover-content{
    margin-top: 60px;
}

.plants-lover-content h1{
    font-weight: bold;
    font-size: 50px;
     font-family: "Noto Serif", serif;
}
.plants-lover-content ul  li{
    margin-top: 20px;
    font-size: 22px;
    font-family : "Inter", sans-serif;
    color: rgb(0, 0, 0,50%);
}
.join-section{
    background-image: url("./assets/news-letter-bg.png");
    height: 533px;
    width: 100%;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
      margin-top: 100px;
    
}


.join-section h1{
    font-size: 50px;
    font-weight: bold;
    color: white;
     font-family: "Noto Serif", serif;
     margin-bottom: 20px;
}
.join-section input{
     font-family : "Inter", sans-serif;
    width: 586px;
    height: 42px;
    border: none;
    outline: none;
    margin-right:-4px;
    padding-left: 20px;
}
.join-section button{
    border: none;
     font-family : "Inter", sans-serif;
    width: 186px;
    height: 42px;
    background-color: #E95A08;
    color: white;
}
.footer{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
  
}
.footer-content{
    margin-left: -20px;
}

.footer-content img{
    margin-bottom: 20px;
    display: block;
    width: 135px;
    height: 82px;
}
.footer p{
    width: 350px;
     font-family : "Inter", sans-serif;
    font-size: 22px;
    color: rgb(0, 0, 0,50%);
}
.footer-navbar{
    display: flex;
    gap: 90px;

}
.nav-1{
    margin-left: 56px;
}
.nav-1 ul li {
    list-style: none;
    margin-top: 46px;
    text-align: center;
    width: 154px;
}
.nav-2 ul li{
     list-style: none;
    margin-top: 46px;
    text-align: center;
    width: 154px;
}

.nav-1 ul li a{
    text-decoration: none;
    color: rgba(107 , 114, 128, 100%);
     font-family : "Inter", sans-serif;
}
.nav-2 ul li a{
       text-decoration: none;
    color: rgba(107 , 114, 128, 100%);
     font-family : "Inter", sans-serif;
}
.social-icon{
    margin-bottom: 206px;
    /* margin-left: 150px; */
    display: flex;
    align-items: center;
}
.social-icon img{
    margin-left: 35px;
}
.latest-deal h1{
    margin-top: 90px;
    text-align: center;
     font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: bold;
}
.latest-deal p{
    margin: 20px auto 50px;
    width: 870px;
    text-align: center;
    font-size: 22px;
    color: rgba(0, 0, 0, 50%);
     font-family : "Inter", sans-serif;
}
.latest{
    color: #E95A08;
    
}
.container2 {
      display: flex;
      gap: 10px;
      justify-content: center;
      color: white;
    }

    .left {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .left-box {
      width: 450px;
      height: 215px;
      background-color: lightblue;
      text-align: center;
      line-height: 150px;
      font-weight: bold;
      border-radius: 10px;
    }

    .right-box {
      width: 700px;
      height: 440px;
      background-color: lightcoral;
      text-align: center;
      line-height: 400px;
      font-weight: bold;
      border-radius: 10px;
    }
  
.box-one{
    background-image: url('./assets/deal-bloom.png');
    background-size: cover;
    color: rgba(0, 0, 0, 40%);
}
.box-two{
    background-image: url('./assets/deal-ana.png');
      background-size: cover;
}
.right-box{
    background-image: url("./assets/deal-zabo.png");
      background-size: cover;
}


/* Media query for mobile devices */

@media screen and (max-width:576px){
    .banner{
        flex-direction: column-reverse;
    }
    #home,#shop, #aboutus {
       display: none;
    }
    #cart{
        /* margin-top:22px; */
      
    }
  .navbar{
  align-items: center;
  padding: 19px 20px;
  gap: 30px;
  }
  .logo img{
    width: 63px;
    height: 38px;
  }
  .nav-left{
    margin-left: 20px;
  }


 .banner{
    /* padding: 0px 20px; */
 }

  .banner-img img{
    width: 706px;
    display: block;
    margin-bottom: 20px;
    /* padding: 0px 20px; */
  }
  .banner-content p{
    /* font-size: 14px; */
    width: 121vw;
    margin: 0px 0px 0px 141px;
  }
  .banner-content h1{
    font-size: 24px;
    font-weight: bold;
    /* padding: 0px 20px; */
    width: 600px;
  }
  .our-plants p{
    margin-left: 16px;
   width: 489px;

   /* font-size: 14px; */
  }
  .our-plants h1{
    text-align: center;
    /* font-size: 24px; */
    margin-right:-84px ;
  }
  .our-plants{
    width: 100%;
  }
.Our-items{
    width: 100%;
    grid-template-columns: repeat(2 ,1fr);
   margin: 15px;
    padding: 0px;
}
.item img{
    display: block;
    width: 100%;
    

}
.plants-lover{
    flex-direction: column;
    gap: 0px;
}
.plants-lover-content h1{
    width: 100%;
    text-align: center;
    font-size: 24px;
}
.plants-lover-content ul li{
    font-size: 16px;
    width: 520px;
    margin-left: 23px;
}
.trusted-badge img{
    visibility: hidden;
    width: 100%;
}
.footer{
    flex-direction: column;
    width: 100%;
}
.footer-navbar{
    flex-direction: column;
    gap: 0px;
    margin-right: 229px;
}
.join-section{
   width: 147vw;
}
.join-section h1{
    font-size: 20px;
}
.join-section input{
    max-width: 200px;
}
.join-section button{
    width: 103px;
    height: 42px;
}
.nav-1{
    margin-left: 0px;
}
.social-icon{
    margin-right: 148px;
}
  
}
